* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Variables */
:root{
    /* Colors */
    --primary-color: #53d25e;
    --font-light: #ffffff;
    --color-dark: black;
    --light-dark: rgba(0, 0, 0, 0.84);
    --transparent-dark: rgba(0, 0, 0, 0.15);
    --color-gray: gray;
    --gray-light: rgba(128, 128, 128, 0.09);

    /* Fonts */
    --title-l: 1.2rem;
    --title-m: .9rem;
    --title-s: .7rem;
    --title-xs: .6rem;

    /* Sizes */
    --cover-big: 190px;
    --cover-big-m: 160px;
    --card-h: 220px;
    --card-h-m: 180px;
}

body {
    background-color: var(--gray-light);
}
header, #controler {
    background-color: var(--font-light);
}
button {
    background: none;
    border: none;
}

/* REUSABLE */
.f-light {
    color: var(--font-light);
}
.f-green {
    color: var(--primary-color);
}
.title {
    font-size: var(--title-m);
    color: var(--color-dark);
}
.subtitle {
    font-size: var(--title-s);
    color: var(--color-gray);
}
/* BUTTONS */
.btn {
    width: 25px;
    height: 25px;
    color: var(--color-gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn--dark {
    background-color: gray;
    color: var(--font-light);
    margin: 0 20px;
}
.btn--outline {
    border: 1px solid var(--color-gray);
    color: var(--color-gray);
}
.btn--green {
    background-color: var(--primary-color);
    color: var(--font-light);
}
.btn--outline--green {
    border: 1px solid var(--primary-color);
}
.btn--font-green {
    color: var(--primary-color);
}
.btn--big {
    width: 100px;
    height: 35px;
    border-radius: 25px;
}
.btn--outline--big {
    border-width: 2px;
}






.round {
    border-radius: 50%;
}
.d-flex {
    display: flex;
}
.direction-col {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.flex-w {
    flex-wrap: wrap;
}


/* NAVBAR */
#nav-container {
    padding: 0 40px;
}
#nav-menu {
    height: 60px;
}

#logo {
    font-size: 1.7rem;
    text-decoration: none;
    color: #53d25e;
}
#logo-icon {
    margin-right: 3px;
}
#search-container {
    margin: 0 auto;
    width: 55%;
}
#search-input {
    border: none;
    padding: 10px 10px 10px 45px;
    width: 90%;
    height: 35px;
    background-image: url('images/search-20-gray.png');
    background-position: 5px 7px;
    background-repeat: no-repeat;
}
#btn-notification {
    position: relative;
    width: 45px;
    height: 100%;
    background: none;
    border: none;
    margin-right: 35px;
    font-size: 1.1rem;
    color: var(--color-gray);
}
#circle-notification {
    position: absolute;
    bottom: 37px;
    left: 27px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-dark);
}
#profile-img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
#profile-arrow {
    font-size: 0.7rem;
}


/* ALBUM */
#album {
    flex-basis: 50%;
    padding: 20px 30px 20px 40px;
    border-right: 1px solid var(--transparent-dark);
}
.cover {
    border-radius: 15%;
}
.cover--big {
    width: var(--cover-big);
    height: var(--cover-big);
}
#album .cover--big {
    margin-right: 40px;
}
#album-info {
    height: 190px;
}
#album-text {
    height: 45%;
}
.title--big {
    font-size: var(--title-l);
}

.subtitle--big {
    font-size: var(--title-m);
}
#album-songs {
    font-weight: bold;
}

#album-btns {
    min-width: 205px;
}


/* PLAYLIST */
#playlist-wrapper {
    flex-basis: 50%;
    height: 290px;
}
#playlist-title {
    padding: 13px 40px;
    border-bottom: 1px solid var(--transparent-dark);
}

#playlist {
    height: calc(100% - 45px);
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
}
#playlist::-webkit-scrollbar {
    width: 0;
}
.playlist__song {
    padding: 15px 40px;
}
.song-index {
    color: var(--color-gray);
    font-size: var(--title-m);
    font-weight: bold;
}
.btn__letter {
    background-color: gray;
    color: var(--font-light);
    font-size: var(--title-m);
    margin: 0 20px;
}

.btn--font-sm {
    font-size: 8px;
}

/* Played */
.song--played-bg {
    background-color: var(--font-light);
}
.song-green {
    color: var(--primary-color);
}
.btn__fav--liked {
    color: var(--primary-color);
    display: none;
}

/* CARROUSEL */
#carrousel-container {
    flex-basis: 100%;
    height: 305px;
    max-width: 100%;
    border-top: 1px solid var(--transparent-dark);
    margin-bottom: 65px;
}
#carrousel-nav {
    padding: 20px 40px 15px;
}
.btn-options {
    margin-right: 45px;
}
.option-underline {
    background: black;
    height: 1px;
    margin-top: 4px;
    display: none;
}
#carrousel-options .btn-options:first-child .option-underline{
    display: block;
}

#carrousel {
    height: calc(100% - 65px);
    overflow-x: scroll;
}
#carrousel::-webkit-scrollbar {
    width: 0;
}
.card:first-child {
    margin-left: 35px;
}
.card {
    width: 180px;
    height: 220px;
    flex: 0 0 180px;
    position: relative;
    background-color: var(--font-light);
    border-radius: 7%;
    box-shadow: -5px 8px 25px -12px var(--light-dark);
    margin-right: 40px;
}
.card__img-container {
    height: 150px;
    overflow: hidden;
}
.card-img {
    width: 100%;
    border-top-right-radius: 7%;
    border-top-left-radius: 7%;
}

.card-info {
    padding: 15px;
}
.card-info button {
    position: absolute;
    bottom: 57px;
    right: 10px;
}

.card-text .title {
    margin-bottom: 5px;
}

/* Controler */
#controler {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 0 35px;
    border-top: 1px solid var(--transparent-dark);
}
#progress-min {
    font-size: var(--title-s);
    position: absolute;
    height: 15px;
    width: 35px;
    left: calc(50% - 17.5px);
    bottom: calc(100% - 9px);
    background-color: var(--font-light);
    border-radius: 25px;
    box-shadow: 0px 1px 6px 1px var(--light-dark);
}
#controler-arrow {
    display: none;
}

#song-info .title{
    font-size: var(--title-s);
}

#song-progress {
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 3px;
    left: 0;
    bottom: calc(100% - 1.5px);
}

#controler-song-info, #controler-volume {
    width: 220px;
}

#controler .cover--sm {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#controler-buttons {
    width: 260px;
}
#controler-buttons button {
    font-size: var(--title-xs);
}
#btn-pause {
    display: none;
}

#controler-volume {
    font-size: var(--title-s);
    font-weight: bold;
}


/* MEDIA QUERY */

@media (max-width: 1063px) {
    #album, #playlist-wrapper {
        flex-basis: 100%;
    }
    #playlist-title {
        border-top: 1px solid var(--transparent-dark);
        border-bottom: none;
    }
}

@media (max-width: 876px) {
    #logo { 
        font-size: 1.2rem;
    }
    #search-container {
        width: 35%;
    }
}

@media (max-width: 768px) {
    
    /* Navbar */
    #profile-name, #btn-notification {
        display: none;
    }
    #nav-menu {
        justify-content: space-between;
    }
    #search-container {
        display: none;
    }
    #profile-img {
        margin: 0;
    }

    /* Album */

    #album {
        flex-direction: column;
        align-items: flex-start;
    }
    .cover--big {
        height: var(--cover-big-m);
        width: var(--cover-big-m);
    }
    #album-btns {
        display: block;
    }

    /* Playlist */

    .song-index, .btn__letter {
        display: none;
    }

    /* Carrousel */

    #carrousel-nav {
        display: block;
        padding-right: 20px;
        padding-bottom: 0px; 
    }
    #carrousel-options .title {
        font-size: var(--title-s);
    }
    #carrousel-options .btn-options:first-child .option-underline{
        display: none;
    }

    .btn-options {
        margin-right: 10px;
    }
    #carrousel-directions {
        margin-top: 15px;
    }

    .card {
        height: 180px;
    }


    /* Controler */
    #controler-cover .cover, #btn-repeat, #btn-backward, #btn-forward, #btn-random, #controler-volume, #progress-min {
        display: none;
    }
    #controler-arrow {
        display: block;
        margin-right: 10px;
    }
    #controler-buttons {
        width: auto;
    }
}
